* {
  background-color: rgb(26 27 31);
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;

  width: 85%;
}

/* -- VARIABLES -- */
.flexrow {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  column-gap: 10px;
}

.flexcolumn {
  padding: 5px;
  margin-top: 10px;
}

.round-circle {
  border-radius: 50%;
}

/* -- NAVBARS -- */
.navbar {
  /* -- Variables -- */
  --navbar-color: rgb(0, 0, 0);

  /* -- Navbar -- */
  background-color: var(--navbar-color);
  box-shadow: 0 1px 8px var(--navbar-color);

  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 0.5rem 3.125rem;
  z-index: 1;
}

.navbar-logo {
  /* -- Variables -- */
  --logo-size: 2.5rem;

  /* -- Navbar Logo -- */
  background: none;

  display: inline-flex;
  float: left;

  width: var(--logo-size);
  height: var(--logo-size);
  margin-right: 0.5rem;
  overflow: hidden;
}

.navbar-title {
  /* -- Variables -- */
  --y-padding: 0.3125rem;

  /* -- Navbar Title -- */
  background: none;
  color: rgb(255, 255, 255);

  padding-top: var(--y-padding);
  padding-bottom: var(--y-padding);
  margin-right: 1rem;
  white-space: nowrap;

  line-height: 2.25rem;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: bolder;
  font-style: italic;

  transition: all 0.25s ease 0s;
}

.navbar-title:hover {
  transform: scale(1.05);
}

.navbar-buttons {
  background: none;

  margin-left: auto;
}

.navbar-buttons ul {
  background: none;
}

.navbar-buttons li {
  background: none;

  list-style: none;
  display: inline-block;
  padding: 0 1.25rem;
}

.navbar-buttons a {
  background: none;
  color: rgb(136, 136, 136);

  text-decoration: none;
  font-weight: bold;

  transition: all 0.25s ease 0s;
}

.navbar-buttons a:hover {
  background: none;
  color: rgb(255, 255, 255);
}

/* -- BANNERS -- */
.banner {
  width: 100%;
  padding-bottom: 4rem;

  background-image: linear-gradient(
      rgba(68, 68, 68, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(51, 51, 51, 1)
    ),
    url(../assets/banners/winterbanner.gif);
  background-size: cover;
  filter: brightness(110%);

  box-shadow: 0 1px 8px var(--navbar-color);
}

.banner-container {
  --title-color: rgb(37, 37, 37);
  --title-shadow: rgba(0, 0, 0, 0.5);
  --text-color: rgb(255, 255, 255);
  --text-shadow: rgba(0, 0, 0, 1);

  background: none;

  padding-top: 8.25rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  background: none;
  color: var(--title-color);

  margin-top: 0.7rem;
  font-size: 4rem;
  font-weight: bolder;
  mix-blend-mode: multiply;

  text-shadow: 0px 0px 10px var(--title-shadow);
}

.banner h2 {
  background: none;
  color: var(--title-color);

  margin-top: -2.25rem;
  font-size: 1.35rem;
  font-weight: bold;
  font-style: italic;
  mix-blend-mode: multiply;

  text-shadow: 0px 0px 10px var(--title-shadow);
}

.banner p {
  background: none;
  color: var(--text-color);

  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;

  text-shadow: 0px 0px 10px var(--text-shadow);
}

.banner-socials {
  background: none;

  margin-top: 1.25rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
}

.banner-socials a {
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;

  color: rgb(255, 255, 255);

  padding: 10px 10px;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;

  box-shadow: 0px 0px 10px var(--title-shadow);

  transition: all 0.25s ease 0s;
}

.banner-socials a:hover {
  background-color: rgb(54, 54, 54);
}

.banner-socials img {
  background: none;
  display: block;
}

/* -- ABOUT -- */
.about {
  --x-padding: 15%;

  color: rgb(255, 255, 255);

  padding-left: var(--x-padding);
  padding-right: var(--x-padding);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;
}

.about h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.about p {
  font-size: 1.25rem;
  font-weight: 500;

  margin-top: -1.4rem;
  line-height: 2.3rem;
}

.about-container {
  background: none;
}

/* -- ABOUT CARDS (FOR OTHER INFORMATION) -- */
.aboutcard {
  width: 250px;
  height: 200px;

  background: rgb(255, 255, 255);

  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3em;
  text-align: center;

  border-radius: 5px;

  white-space: normal;
  overflow: auto;
}

.aboutcard-title {
  --total-height: 40px;

  height: var(--total-height);
  padding-left: 10px;

  background-color: rgb(22, 22, 22);
  border-radius: 5px;

  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;

  line-height: var(--total-height);
}

.aboutcard-title img {
  background: none;

  display: inline;
  float: right;
  margin-top: 6px;
  margin-right: 10px;

  height: auto;
  width: 25px;
}

.aboutcard-body {
  background: none;
}

.aboutcard-body h1 {
  background: none;

  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  text-transform: initial;

  margin-top: 4px;
}

.aboutcard-body ul {
  background: none;
  margin-top: -16px;
}

.aboutcard-body li {
  background: none;
  list-style-type: "- ";

  font-size: 1.15rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.5rem;
}

.aboutcard-body a {
  background: none;
  color: rgb(0, 0, 0);

  font-weight: bold;

  transition: all 0.25s ease 0s;
}

.aboutcard-body a:visited {
  color: rgb(84, 70, 160);
}

.bottom-navbar {
  --bottom-navbar-color: rgb(0, 0, 0);

  background-color: var(--bottom-navbar-color);
  box-shadow: 0 1px 8px var(--bottom-navbar-color);

  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 1rem 3.125rem;
}

.bottom-navbar h1 {
  background: none;

  color: rgb(108, 117, 125);

  font-size: 0.875em;
  font-weight: lighter;
}

/* -- MOBILE CHANGES -- */
/* If on mobile device with max width of 480px */
@media only screen and (max-device-width: 480px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about-title {
    font-size: 2.25rem;
  }
  .about-text {
    font-size: 1rem;
  }
  .navbar {
    padding: 0.01rem 3rem;
  }
}
