* {
  background-color: rgb(32, 34, 39);
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

/* -- VARIABLES -- */
.round-circle {
  border-radius: 50%;
}

/* -- NAVBARS -- */
.navbar {
  /* -- Variables -- */
  --navbar-color: rgb(15, 15, 15);

  /* -- Navbar -- */
  background-color: var(--navbar-color);
  box-shadow: 0 1px 8px var(--navbar-color);

  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 0.5rem 3.125rem;
  z-index: 1;
}

.navbar-logo {
  /* -- Variables -- */
  --logo-size: 2.5rem;

  /* -- Navbar Logo -- */
  background: none;

  display: inline-flex;
  float: left;

  width: var(--logo-size);
  height: var(--logo-size);
  margin-right: 0.5rem;
  overflow: hidden;
}

.navbar-title {
  /* -- Variables -- */
  --y-padding: 0.3125rem;

  /* -- Navbar Title -- */
  background: none;
  color: rgb(255, 255, 255);

  padding-top: var(--y-padding);
  padding-bottom: var(--y-padding);
  margin-right: 1rem;
  white-space: nowrap;

  line-height: 2.25rem;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: bolder;
  font-style: italic;

  transition: all 0.25s ease 0s;
}

.navbar-title:hover {
  transform: scale(1.05);
}

.navbar-buttons {
  background: none;

  margin-left: auto;
}

.navbar-buttons ul {
  background: none;
}

.navbar-buttons li {
  background: none;

  list-style: none;
  display: inline-block;
  padding: 0 1.25rem;
}

.navbar-buttons a {
  background: none;
  color: rgb(136, 136, 136);

  text-decoration: none;
  font-weight: bold;

  transition: all 0.25s ease 0s;
}

.navbar-buttons a:hover {
  background: none;
  color: rgb(255, 255, 255);
}

/* -- BANNERS -- */
.banner {
  width: 100%;
  padding-bottom: 4rem;

  background-image: linear-gradient(
      rgba(68, 68, 68, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(51, 51, 51, 1)
    ),
    url(../assets/banners/winterbanner.gif);
  background-size: cover;
  filter: brightness(110%);
}

.banner-container {
  --title-color: rgb(37, 37, 37);
  --title-shadow: rgba(0, 0, 0, 0.5);
  --text-color: rgb(240, 240, 240);
  --text-shadow: rgba(0, 0, 0, 1);

  background: none;

  padding-top: 8.25rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-title {
  background: none;
  color: var(--title-color);

  margin-top: 0.7rem;
  font-size: 4rem;
  font-weight: bolder;
  mix-blend-mode: multiply;

  text-shadow: 0px 0px 10px var(--title-shadow);
}

.banner-smalltitle {
  background: none;
  color: var(--title-color);

  margin-top: -2.25rem;
  font-size: 1.35rem;
  font-weight: bold;
  font-style: italic;
  mix-blend-mode: multiply;

  text-shadow: 0px 0px 10px var(--title-shadow);
}

.banner-text {
  background: none;
  color: var(--text-color);

  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;

  text-shadow: 0px 0px 10px var(--text-shadow);
}

.banner-socials {
  background: none;

  margin-top: 1.25rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
}

.banner-socials a {
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;

  color: rgb(255, 255, 255);

  padding: 10px 10px;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;

  transition: all 0.25s ease 0s;
}

.banner-socials a:hover {
  background-color: rgb(54, 54, 54);
}

.banner-socials img {
  background: none;
  display: block;
}

/* -- ABOUT -- */
.about {
  color: rgb(255, 255, 255);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-container {
  background: none;
}

.about-title {
  align-self: center;
}

.about-text {
  font-size: 18px;
  line-height: 1.7;
}
