* {
  background-color: rgb(32, 34, 39);
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* -- VARIABLES -- */
.round-circle {
  border-radius: 50%;
}

/* -- NAVBARS -- */
.navbar {
  /* -- Variables -- */
  --navbar-color: rgb(15, 15, 15);

  /* -- Navbar -- */
  background-color: var(--navbar-color);
  box-shadow: 0 1px 8px var(--navbar-color);

  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 0.75rem 50px;
  z-index: 1;
}

.navbar-logo {
  /* -- Variables -- */
  --logo-size: 2.5rem;

  /* -- Navbar Logo -- */
  background: none;

  display: inline-flex;
  float: left;

  width: var(--logo-size);
  height: var(--logo-size);
  margin-right: 0.5rem;
  overflow: hidden;
}

.navbar-title {
  /* -- Variables -- */
  --y-padding: 0.3125rem;

  /* -- Navbar Title -- */
  background: none;
  color: rgb(255, 255, 255);

  padding-top: var(--y-padding);
  padding-bottom: var(--y-padding);
  margin-right: 1rem;
  white-space: nowrap;

  line-height: 2.25rem;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: bolder;
  font-style: italic;

  transition: all 0.25s ease 0s;
}

.navbar-title:hover {
  transform: scale(1.05);
}

.navbar-buttons {
  background: none;

  margin-left: auto;
}

.navbar-buttons ul {
  background: none;
}

.navbar-buttons li {
  background: none;

  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.navbar-buttons a {
  background: none;
  color: rgb(136, 136, 136);

  text-decoration: none;
  font-weight: bold;

  transition: all 0.25s ease 0s;
}

.navbar-buttons a:hover {
  background: none;
  color: rgb(255, 255, 255);
}

/* -- BANNERS -- */
.banner {
  width: 100%;
  height: 650px;

  background-image: linear-gradient(
      rgba(68, 68, 68, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(70, 70, 70, 0.5)
    ),
    url(../assets/banners/winterbanner.jpg);
  background-size: cover;
  filter: brightness(125%);

  text-align: center;
}
